### Root   ##############
node_modules/
.metadata/
yarn.lock

# package.json
package-lock.json


### Front  ##############
/Front/**/*.env
/Front/node_modules
/Front/.vscode


### Back  ###############
/Back/**/*.env

# IntelliJ IDEA
/Back/**/.idea
/Back/**/*.iws
/Back/**/*.iml
/Back/**/*.ipr

# STS
/Back/**/.apt_generated
/Back/**/.classpath
/Back/**/.factorypath
/Back/**/.project
/Back/**/.settings
/Back/**/.springBeans
/Back/**/.sts4-cache


### AI  #################
/AI/**/*.env
/AI/.ipynb_checkpoints
/AI/**/colloectedimages/





