### Root   ##############
node_modules/
.metadata/
yarn.lock

# package.json
package-lock.json


### Front  ##############
/Front/**/*.env
/Front/**/*.env.local
/Front/node_modules
/Front/.vscode
/Front/**/dist

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Vue ###
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# TODO: where does this rule come from?
docs/_book

# TODO: where does this rule come from?
test/

# End of https://www.toptal.com/developers/gitignore/api/vue,visualstudiocode

### Back  ###############
/Back/**/*.env

# IntelliJ IDEA
/Back/**/.idea
/Back/**/*.iws
/Back/**/*.iml
/Back/**/*.ipr

# STS
/Back/**/.apt_generated
/Back/**/.classpath
/Back/**/.factorypath
/Back/**/.project
/Back/**/.settings
/Back/**/.springBeans
/Back/**/.sts4-cache

# Django
/Back/**/venv
/Back/**/__pycache__
/Back/**/db.sqlite3


### AI  #################
/AI/**/*.env
/AI/.ipynb_checkpoints/
**/colloectedimages/





